body {
    font-family: Arial, sans-serif;
    background: #f4f7ff;
    margin: 0;
    padding: 0;
}

/* Page Title */
h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

/* Form Box */
.form-box {
    width: 450px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

/* Labels */
label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
}

/* Button */
button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: navy;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

/* Back Link */
.back {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: navy;
}

.back:hover {
    text-decoration: underline;
}
